* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}
body {
    background: yellow;
    height: 100vh;
    display:grid;
    place-content: center;
    margin: auto;
}
.container {
    width: 550px;
    height: 400px;
    background: cornsilk;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    font-size: 3rem;
    text-transform: uppercase;
}
.numbers {
    font-size: 8rem;
    font-weight: bold;
}
.buttons button {
    padding:5px 10px;
}